<footer class="page-footer grey darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"><a href="/" class="white-text">Galvanize Reads</a></h5>

            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/authors">Authors</a></li>
                    <li><a class="grey-text text-lighten-3" href="/books">Books</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>
