<nav class="nav-extended">
    <div class="nav-wrapper grey darken-1">
        <%# <a href="#!" class="brand-logo">Galvanize Reads</a>%>
            <ul class="right hide-on-med-and-down">
                <li><a href="/authors">Authors</a></li>
                <li><a href="/books">Books</a></li>
            </ul>
    </div>
    <div class="nav-content grey">
        <span class="nav-title">Galvanize Reads</span>
        <a class="btn-floating btn-large halfway-fab dropdown-button btn waves-effect waves-light orange" href="#" data-activates="dropdown1">
            <i class="material-icons">add</i>
        </a>

        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/authors/add">Add author</a></li>
            <li><a href="/books/add">Add book</a></li>

        </ul>
    </div>
</nav>
