a {
    color: darkorange;
}

.banner {
    background-image: url('/img/pexels-photo-106116.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 625px;
    margin-bottom: 0px;

}
