<%include ../partials/header %>

    <title>Add an Author -- Galvanize Reads</title>
    <% include ../partials/navbar %>
        <div class="container">
            <h3>Add an Author</h3>
            <div class="row">
                <form class="col s12" id="addAuthorForm" name="addAuthorForm">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" name="first_name" type="text" required>
                            <label for="first_name">First name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="last_name" name="last_name" type="text" required>
                            <label for="last_name">Last name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <textarea id="bio" name="bio" class="materialize-textarea" required></textarea>
                            <label for="bio">Bio</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="portrait_url" name="portrait_url" type="text" required>
                            <label for="portrait_url">Portrait URL</label>
                        </div>
                    </div>


                    <div class="row">
                        <button class="btn waves-effect waves-light orange" type="submit" name="action" id="addAuthor">Submit</button>

                    </div>

                </form>
            </div>
        </div>

            <% include ../partials/footer %>
            <!--Import jQuery before materialize.js-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="/js/materialize.min.js"></script>
            <script type="text/javascript" src="/js/authors.js"></script>
        </body>

</html>
