<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Author Listing -- Galvanize Reads</title>
    <link href="/css/reset.css" rel="stylesheet" text="text/css">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <link href="/css/custom.css" rel="stylesheet" type='text/css'>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

    <% include ../partials/navbar %>
        <div class="container">
            <div class="row">

                <h3>Authors</h3>

                <% if(data === undefined || data.length < 1){ %>
                    <h4>No authors yet!</h4>
                    <%} else { %>

                        <% for(let i = 0; i < data.length; i++){ %>
                            <div class="col s12 m8 offset-m2 l6 offset-l3">
                                <a href="/authors/<%=data[i].id%>"><div class="card-panel grey lighten-5 z-depth-1">
                                    <div class="row valign-wrapper">
                                        <div class="col s3">
                                            <img src="<%=data[i].portrait_url%>" alt="" class="circle responsive-img">
                                            <!-- notice the "circle" class -->
                                        </div>
                                        <div class="col s7">
                                            <h5><%=data[i].first_name%> <%=data[i].last_name%></h5>
                                        </div>
                                    </div>
                                </div></a>
                            </div>
                            <%} %>
                                <%} %>
                                    <!-- END ELSE -->


            </div>
        </div>


        <% include ../partials/footer %>

            <!--Import jQuery before materialize.js-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>

</html>
