<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Galvanize Reads -- Book listing</title>
    </head>
    <body>
        <%if(data === undefined) { %>
            <h2>No books yet!</h2>
        <%} else { %>
            <%= data %>
        <% }%>

    </body>
</html>
