<% include ../partials/header %>
    <title>Error</title>

    <% include ../partials/navbar %>
    <h1> Whoops </h1>
    <%= message %>
            <!--Import jQuery before materialize.js-->

    <% include ../partials/footer %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>

</html>
